.wrapper{
  display: grid;
  grid-auto-rows: 160px 1fr ;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Header Header"
    "Sidbar Main"
    "Footer Footer";
  background-color: green;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

